# botgo specific
config.yml
*.db
*.db.lock
*.ini
*.bat

# Go specific
gensokyo.exe
gsk.exe

# Ignore channel_temp
channel_temp/

# Ignore log
log/

# ignore dist
webui/dist/

#ignore data
data/

.git-rewrite/
# 本地测试/构建残留
gensokyo-forspark.exe
sensitive_words_*.txt
white.txt

